DATABASE_URL=postgresql+asyncpg://dylan.lorrenzo@localhost:5432/commerce_agent
DATABASE_URL_SYNC=postgresql://dylan.lorrenzo@localhost:5432/commerce_agent
OPENAI_API_KEY=sk-your-openai-api-key-here
MERCHANT_BACKEND_URL=http://localhost:8000
CONSUMER_BACKEND_URL=http://localhost:8001
